<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    Hello, {{ user.username }}

                    <li>
                        <a href="{% url 'list_projects' %}">My Projects</a>
                    </li>

                    <li>
                        <a href="{% url 'show_my_tasks' %}">My tasks</a>
                    </li>

                    <li>
                        <a href="{% url 'logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'login' %}">Login</a>
                    </li>
                    <li>
                        <a href="{% url 'signup' %}">Signup</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        <div>
            <h1>My Projects</h1>
            <li>
                <a href="{% url 'create_project' %}">Create a new project</a>
            </li>
            {% if not pv %}
                <p>You are not assigned to any projects</p>
            {% else %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of tasks</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in pv %}
                            <tr>
                                <td>
                                    <a href="{% url 'show_project' i.id %}">{{ i.name }}<a>
                                    <td>{{ i.tasks.all|length }}</td>
                                </td>

                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </main>
    </body>
</html>
